button {
  font-weight: 500;
  color: $white;
  font-size: $size-base;
  padding: $size-3 $size-6 $size-3 $size-6;
  border-radius: $border-radius;
  cursor: pointer;
  transition: color $transition-time ease-in-out, background-color $transition-time ease-in-out;

  &.button-primary {
    background-color: $black;
    border: $border-size solid $black;

    &:not(:disabled):hover {
      color: $black;
      background-color: $white;
    }
  }

  &.button-secondary {
    color: $gray;
    background-color: $white;
    border: $border-size solid $gray;

    &:not(:disabled):hover {
      color: $black;
      border-color: $black;
    }
  }

  &.button-success {
    background-color: $green;
    border: $border-size solid $green;

    &:not(:disabled):hover {
      color: $green;
      background-color: $white;
    }
  }

  &.button-danger {
    background-color: $red;
    border: $border-size solid $red;

    &:not(:disabled):hover {
      color: $red;
      background-color: $white;
    }
  }

  &.button-warning {
    background-color: $orange;
    border: $border-size solid $orange;

    &:not(:disabled):hover {
      color: $orange;
      background-color: $white;
    }
  }

  &.button-large {
    font-size: $size-6;
    padding: $size-3 $size-7 $size-3 $size-7;
  }

  &.button-small {
    font-size: $size-4;
    padding: $size-2 $size-5 $size-2 $size-5;
  }

  &:focus {
    outline: 0;
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.65;
  }
}
