.card {
  padding: 0 $size-5 0 $size-5;
  border-radius: $border-radius;
  border: $border-size solid $gray;
  transition: border $transition-time ease-in-out;

  & h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-bottom: 0;
  }

  & p {
    color: $gray;
    transition: color $transition-time ease-in-out;
  }

  &:hover {
    border: 1px solid $black;

    p {
      color: $black;
    }
  }
}
