// Font
@import url('https://fonts.googleapis.com/css2?family=K2D:wght@200;300;400;500;600;700&display=swap');
/* stylelint-disable-next-line */
$font-family: 'K2D', system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif !default;

// Size
$size-base: 15px;
$size-0: $size-base * 0.0625;
$size-1: $size-base * 0.125;
$size-2: $size-base * 0.25;
$size-3: $size-base * 0.5;
$size-4: $size-base * 0.75;
$size-5: $size-base * 1;
$size-6: $size-base * 1.5;
$size-7: $size-base * 2;
$size-8: $size-base * 3;
$size-9: $size-base * 4;
$size-10: $size-base * 6;
$size-11: $size-base * 8;
$size-12: $size-base * 12;
$size-13: $size-base * 16;

// Colors
$black: #000;
$white: #fff;

$blue: #003049;
$red: #d62828;
$orange: #f77f00;
$yellow: #f0c808;
$green: #20bf55;
$gray: #666;

// Border
$border-size: $size-0;
$border-radius: $size-3;

// Box Shadow
$box-shadow: 0 0 25px 5px rgba(0, 0, 0, 0.1);

// Transition
$transition-time: 200ms;
